

#today-match {
    text-align: center;
    font-family: 'Patua One', cursive;
    font-size: 3vh;
    padding: 0px;
}

.team-active {
    color: rgb(49, 112, 111);
}

.wicket {
    color: #ff0100;
}
.inactive-team {
    color: #636b6f;
}
.ball-left {
    color: #ff0100 ;
}
.over{
    color: rgb(49, 112, 111);
}
.table-name{
    text-align: center;
    font-family: 'Patua One', cursive;
    font-size: 5vh;
    padding: 0px;
}

.batting-table{
    background-color: #f8f8f8;
}
.batting-table table {
    border-collapse: collapse;
    width: 100%;
}

.batting-table th, td {
    text-align: left;
    padding: 8px;
}

.batting-table .out { /*background-color: rgba(209, 13, 0, 0.19)*/
}

.batting-table th {
    background-color: #4CAF50;
    color: white;
}
.batting-table tr,td {
    font-family: Raleway;
    color: #444444;
    font-size: 3vh;
}

.recent-notifications{
    font-family: Raleway;
    font-size: 3vh;
    color: #444444;
    padding-left: 1vh;
}


.bowling-table{
    background-color: #f8f8f8;
    margin: 0px;

}
.bowling-table table {
    border-collapse: collapse;
    width: 100%;
}

.bowling-table th, td {
    text-align: left;
    padding: 8px;
}

.bowling-table .playing{background-color: rgba(164, 242, 0, 0.4)
}
.bowling-table .out { /*background-color: rgba(209, 13, 0, 0.19)*/
}

.bowling-table th {
    background-color: #ff6d00;
    color: white;
}
.bowling-table tr,td {
    font-family: Raleway;
    color: #444444;
    font-size: 3vh;
}
.start-date-time {
    color: #ff0100;
}