.navbar-design{
    background-color: rgb(201, 201, 201);
}

.navbar-links li a{
    color: #000 !important;
    font-family: 'Patua One', cursive;
}
.navbar-links li a:hover{
    background-color: #404040 !important;
    color: #fff !important;
}




/* Footer */

#footer {
    padding: 4rem 0 2rem 0 ;
    background: #3b3b3b;
    text-align: center;
}

#footer a {
    color: rgba(255, 255, 255, 0.5);
}

#footer a:hover {
    color: #FFF;
}

#footer .copyright {
    color: #bbb;
    font-size: 0.9rem;
    margin: 0 0 2rem 0;
    padding: 0;
    text-align: center;
}

@media screen and (max-width: 736px) {

    #footer {
        padding: 3rem 0 1rem 0 ;
    }

}

/*Icons*/

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.icons li {
    display: inline-block;
    padding: 0 1rem 0 0;
}

ul.icons li:last-child {
    padding-right: 0;
}

ul.icons li .icon:before {
    font-size: 2rem;
}
