/*--------------      base color #16a085    --------------------------*/


/*------------------------------------------------------------------------------------*/
/*----------------------------------    BASIC SETUP   --------------------------------*/
/*------------------------------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-weight: 300;
    color: #444;
    text-rendering: optimizeLegibility;
    font-family: 'Raleway','Arial', sans-serif;
}

body,
.col-md-12,
.col-md-8,
.col-md-6 {}
h2 {
    margin: 0 0 14px 0;
}


/*------------------------------------------------------------------------------------*/
/*-------------------------------    MAIN BODY WRAPPER   -----------------------------*/
/*------------------------------------------------------------------------------------*/

#main-body {
    background-color: #eee;
}
#main-body a {
    text-decoration: none;
}

.match-detail-wrap {
    background-color: #f8f8f8;
    margin-top: 3vh;
    padding-top: 2vh;
    padding-bottom: 1vh;
}
.match-detail-wrap h2 {
    font-weight: 100 !important;
}
.match-detail-wrap p {
    font-size: medium;
    line-height: 120%;
    color: #555;
}
.team-active {
    text-transform: uppercase;
    font-size: 170%;
    font-weight: 200;
    color: rgb(49, 112, 111);

}

.inactive-team {
    color: #636b6f;
}
.run-active,
.venue {
    color: #1abe9e;
}

#today-match {
    text-align: center;
    font-family: 'Patua One', cursive;
    font-size: 3vh;
    padding: 0px;
}
.start-date-time {
    color: #16a085;
}
.wicket {
    color: #e67e22;
}
.over{
    color: rgb(49, 112, 111);
}
.ball-left {
    color: #e67e22;
}
/*------------------------------------------------------------------------------------*/
/*-------------------------------      BAT/BOWL TABLE    -----------------------------*/
/*------------------------------------------------------------------------------------*/
.table-name{
    text-align: center;
    font-family: 'Patua One', cursive;
    font-size: 5vh;
    padding: 0px;
}
.batting-table,.bowling-table {
    background-color: #f8f8f8;
    margin: 0px;
}

.batting-table table,.bowling-table table {
    border-collapse: collapse;
    width: 100%;
}

.batting-table thead,.bowling-table thead,.batting-table th,.bowling-table th {
    border: 1px solid #16a085;
}
.batting-table th {
    background-color: #16a085;
    color: white !important;
}

.bowling-table thead {
    background-color: #f2f2f2;
}

.batting-table table thead th:not(:nth-child(1)),
.bowling-table table thead th:not(:nth-child(1)),
.batting-table table td:not(:nth-child(1)),
.bowling-table table td:not(:nth-child(1)) {
    text-align: center;
}
.batting-table table th,
.batting-table table td,
.bowling-table table th,
.bowling-table table td {
    font-size: 1.3em;
    padding: 5px 6px;
    color: #333;
    font-family: Raleway;
}



.batting-table .playing {
    background-color: rgba(30, 220, 183, 0.4);
}
.off_strike {
    background-color: rgba(176, 244, 231, 0.3);
}
.player_out {
    background-color: rgba(163, 163, 163, 0.2);

}
.bowling-table .playing {
    background-color: rgba(30, 220, 183, 0.2);
}
.start-date-time {
    color: #e67e22;
}

/*------------------------------------------------------------------------------------*/
/*----------------------------     RECENT NOTIFICATIONS    ---------------------------*/
/*------------------------------------------------------------------------------------*/

.recent-notifications {
    font-family: Raleway;
    font-size: 3vh;
    color: #444444;
    padding-left: 1vh;
}