#body-head {
    background-color: #eee;
}
.add-run {
    background-color: #f8f8f8;
}
.btn-assigner {
    font-family: 'Patua One', cursive;
    font-size: 4vh;
    padding: 0px;
}
.common-btn {
    width: 120px;
    background-color: #4CAF50;
    /* Green */
}
.set-to-bat-btn:hover {
    background-color: #46a049;
}



/*Run Table*/

.run-table {
    background-color: #f8f8f8;
}
.run-table table {
    border-collapse: collapse;
    width: 100%;
}
.run-table th, td {
    text-align: left;
    padding: 8px;
}
/*Run Table End*/




/*Buttons*/

.btn {
    border: none;
    color: white;
    padding: 7px 14px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 1vh;
    margin-bottom: 5px;
}
.status-btn {
    border: none;
    color: white;
    /*padding: 14px 28px;*/
    /*font-size: 16px;*/
    cursor: pointer;
}
.btn-ghost {
    background-color: #f4f4f4;
    color: #16a085;
    border: 1px solid #16a085;
}
/* Gray */

.btn-ghost:hover {
    background: #ddd;
}
.btn-full {
    background-color: #16a085;
    color: #fff;
    border: 1px solid transparent;
}

.btn-full:hover,
.btn-full:active,
.btn-full:visited,
.btn-full:link {
    background-color: #12826c;
}

.btn-primary {
    padding: 1px 3px;
}

.default {
    background-color: #e7e7e7;
    color: black;
}

.default:hover {
    background: #ddd;
}
.status-btn {
    background-color: #107360;
    padding: 1px 2px;
}
/* Blue */

.status-btn:hover {
    background: #0e6453;
}
#out {
    border: none;
    color: #f2f2f2;
    /*padding: 14px 28px;
    font-size: 16px;*/
    cursor: pointer;
    background-color: #12826c;
    /* Orange */
}
.no-ball {
    background-color: #ff9800;
}
.no-ball:hover {
    background: #da5900;
}
.extra {
    width: 200px !important;
}

.extra-runs {
    font-size: 6vh;
}
.extra-run-a {
    font-size: 16px;
    background-color: #f9f9f9;
}
.extra-run-a a {
    text-decoration: none;
}
.extra-run-a a li:hover {
    background-color: #f1f1f1;
}
.extra-run-a a li {
    text-align: center;
    color: #000;
    padding-top: 3px;
    padding-bottom: 3px;
}

.batting-status {
    font-size: 16px;
    background-color: #f9f9f9;
}
.batting-status a {
    text-decoration: none;
}
.batting-status a li:hover {
    background-color: #f1f1f1;
}
.batting-status a li {
    text-align: center;
    color: #000;
    padding-top: 3px;
    padding-bottom: 3px;
}


.runout-dropdown-submenu {
    position: relative;
}

.runout-dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.form-startgame {
    max-width: 700px;
    padding: 15px;
    margin: 0 auto;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}
.form-startgame .form-startgame-heading,
.form-startgame .checkbox {
    margin-bottom: 10px;
}
.form-startgame .checkbox {
    font-weight: normal;
}
.form-startgame .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

#upcoming-match {
    text-align: center;
    font-family: 'Patua One', cursive;
    font-size: 4vh;
}
.match-detail-wrap{
    width: 100%;
    padding-left: 5%;
}

.team-name {
    font-size: 3vh;
    color: #3b3b3b;
}


.btn-batting-out{
    padding: 8px !important;
    background-color: #0b7dda;
}