
#match-main-scoreboard {
    text-align: center;
    font-family: 'Patua One', cursive;
    font-size: 3vh;
    padding: 0px;
}

.wicket {
    color: #e67e22;
}

.inactive-team {
    color: #636b6f;
}

.ball-left {
    color: #e67e22;
}

.over {
    color: rgb(49, 112, 111);
}

.innings-toggle {
    list-style-type: none;
    text-align: center;
    position: relative;
   // border: 1px solid #0b7dda;
    padding-bottom: 25px;
}
.innings-toggle .selected-innings {
    background-color: #16a085 !important;
    color: #fff !important;
    position: relative;
}

.arrow-down {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #16a085;
}
.innings-toggle li{
    display: inline;
    background-color: rgb(201, 201, 201);
    padding: 5px;
    cursor: pointer;
}
.innings-toggle li a{
    color: #000;
    font-family: 'Patua One', cursive;
    padding: 14px 30px;
}
/*.innings-toggle li:active{*/
    /*background-color: #404040;*/
/*}*/
.innings-toggle li a:active{
    color: #16a085;
}

.innings-no{
    text-align: center;
    font-family: 'Patua One', cursive;
    //font-size: 5vh;
   //padding: 0px;
    //color: #e67e22;
}



.table-name {
    text-align: center;
    font-family: 'Patua One', cursive;
    font-size: 4vh;
    padding: 0px;
}

.batting-table {
    background-color: #f8f8f8;
}

.batting-table table {
    border-collapse: collapse;
    width: 100%;
}

.batting-table th,
td {
    text-align: left;
    padding: 8px;
}

.batting-table .out {
    /*background-color: rgba(209, 13, 0, 0.19)*/
}

.batting-table tr,
td {
   font-family: Raleway;
    color: #444444;
    font-size: 3vh;
}

.recent-notifications {
    font-family: Raleway;
    font-size: 3vh;
    color: #444444;
    padding-left: 1vh;
}


.bowling-table {
    background-color: #f8f8f8;
    margin: 0px;
}

.bowling-table table {
    border-collapse: collapse;
    width: 100%;
}

.bowling-table th,
td {
    text-align: left;
    padding: 8px;
}

.bowling-table .playing {
    background-color: rgba(30, 220, 183, 0.4);
}

.bowling-table .out {
    /*background-color: rgba(209, 13, 0, 0.19)*/
}

.bowling-table th {
    //background-color: #e67e22;
    color: #16a085;
   // color: white;
}

.bowling-table tr,
td {
    font-family: Raleway;
    color: #444444;
    font-size: 3vh;
}

.start-date-time {
    color: #e67e22;
}



