
#match-main-scoreboard {
    text-align: center;
    font-family: 'Patua One', cursive;
    font-size: 3vh;
    padding: 0px;
}





.innings-toggle {
    list-style-type: none;
    text-align: center;
    position: relative;
   // border: 1px solid #0b7dda;
    padding-bottom: 25px;
}
.innings-toggle .selected-innings {
    background-color: #16a085 !important;
    color: #fff !important;
    position: relative;
}

.arrow-down {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #16a085;
}
.innings-toggle li{
    display: inline;
    background-color: rgb(201, 201, 201);
    padding: 5px;
    cursor: pointer;
}
.innings-toggle li a{
    color: #000;
    font-family: 'Patua One', cursive;
    padding: 14px 30px;
}
/*.innings-toggle li:active{*/
    /*background-color: #404040;*/
/*}*/
.innings-toggle li a:active{
    color: #16a085;
}

.innings-no{
    text-align: center;
    font-family: 'Patua One', cursive;
    //font-size: 5vh;
   //padding: 0px;
    //color: #e67e22;
}


